*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-s{
    width: 1000px;
    margin-inline: auto;
}
/* navbar header */
header{
    height: 80px;
    background-color: #0084fd;
}
.logo{
    display: flex;
    justify-content: space-between;
  padding-top: 10px;

}
.logo-png{
    display: flex;
    align-items: center;
    width: 100px;
    height: 60px;
    margin-right: 60px;
}
.bar{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: white;
}
.started{
    height: 40px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
}
.menu{
    display: flex;
    align-items: center;
    color: white;
    display: none;
}
/* main */
/* section 1 con 5 riqadri su due linee di cui 2 sulla prima e tre sulla seconda  */
.sezione-1{
    margin-top: 4rem;
}
.grid {
	--gapx: 1rem;
	--gapy: 2rem;
}

.cells {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

}

.cell .content {
	height: 350px;

}


.grid {
	overflow: hidden;
}

.cell {
	flex-basis: 30.7%;
    background-color: #b5ddff;
    border-radius: 10px;
	
}
.content{
    width: 100%;
    display:flex;
}
.cell-hero {
	flex-basis: 63%;
    background-color: #b5ddff

}
.content-hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-2{
    width: 120px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #0084fd;
    color: white;

}
.phone{
    width: 50%;
    height: 90%;
    background-image: url(../img/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-left: 30px;
}

.cell h2{
    color: #0084fd;
}