*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-s{
    width: 1000px;
    margin-inline: auto;
}
/* navbar header */
header{
    height: 80px;
    background-color: #0084fd;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: space-between;
  padding-top: 10px;

}
.logo-png{
    display: flex;
    align-items: center;
    width: 100px;
    height: 60px;
    margin-right: 60px;
}
.bar{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: white;
}
.started{
    height: 40px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    border-color: transparent;
}
.menu{
    display: flex;
    align-items: center;
    color: white;
    display: none;
}
/* main */
/* section 1 con 5 riqadri su due linee di cui 2 sulla prima e tre sulla seconda  */
.sezione-1{
    margin-top: 4rem;
}
.grid {
	--gapx: 1rem;
	--gapy: 2rem;
}

.cells {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

}

.cell .content {
	height: auto;

}


.grid {
	overflow: hidden;
}

.cell {
	flex-basis: 30.7%;
    background-color: #b5ddff;
    border-radius: 10px;
	
}
.cell-hero > .content{
    width: 100%;
    display:flex;
    flex-direction: row;
}
.cell-hero {
	flex-basis: 63%;
    background-color: #b5ddff

}
.content-hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-2{
    width: 120px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #0084fd;
    color: white;

}
.phone{
    width: 50%;
}
.telephone{
    margin-top: 37px;
    margin-left: 30px;
    width: 70%;
    height: 90%;
}
.cell h2{
    color: #0084fd;
}
.fa-solid{
font-size: 40px;
    color: #0084fd;
}
.content{
text-align: center;
display: flex;
flex-direction: column;
gap: 2rem;
margin-bottom: 20px;
margin-top: 20px;
}
/* sezione due sfondo #9792E4 */
.sezione2{
    margin-top: 2rem;
    background-color: #9793e4;
}
.container-xs{
    width: 600px;
    margin-inline: auto;
    display: flex;
}
.planning1{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 60%;
    gap: 2rem;
    margin-bottom: 30px;
    margin-top: 40px;
    
}

.planning2{
    flex: 0 0 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 25%;
    border-radius: 15px;
    padding: 1rem;
    height: 50%;
    margin-bottom: 20px;
}
.img-2{
    width:70%;
    height: 80%;
}
.img-3{
    width: 50%;
    height: 40%;
}
.app{
    font-size: 16px;
}
.fa-solid.fa-arrow-down{
    font-size: 20px;
    color: black;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#9793e4;
    border-radius: 15px;
    width: 30px;
    height: 30px;

}

.corsivo{
    font-size: 12px;
}
.strategic{
    width: 80%;
    color: white;
}
/* section 3 card*/
.text-title-card{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
 .h2-cards{
    color: #9793e4;
}


.img-4{
    min-width: 0;
    width:150px;
    height:150px;
    flex: 0 0 100%;
    border-radius: 150px;
    margin: 1rem;
    object-fit: cover;

}

.card{
    display: flex;
    align-items: center;
    background-color: #9793e4;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 1.5rem;
}
.testimonial-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.white{
    color: white;
    font-size: 16px;
}
/* section benefit */
.benefits{
    background-color: #9793e4;
    width: 100%;
    margin-top: 2rem;
}
.title-benefits{
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    padding-bottom: 2rem;




}
.benefits-card{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: white;
    border-radius: 10px;
    width: calc(100% / 3 - 1rem);
    padding:1rem;
}
.h1-cards{
    color: #9793e4;
}
.h3-cards{
    color: #9793e4;
}
.btn-cards{
    width: 30%;
    padding: .3rem;
    background-color: #9793e4;
    border-color: transparent;
    border-radius: 15px;
    color: white;
}
/*  section about us */
.container-about{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.img-about{
    position: relative;
    min-width: 0;
    width:150px;
    height:150px;
    flex: 0 0 100%;
    border-radius: 150px;
    margin: 1rem;
    background-image:url(../img/about.jpg) ;
    background-size: contain;
    background-repeat: no-repeat
}
.about-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}
.about-title{
    font-size: 2.1rem;
    color: #9793e4;
}
.subject{
    width: 30%;
    padding: 2rem;


}
.title-subject{
    color: #9793e4;
    padding-bottom: 1rem;
}
.linkedin{
    color: white;
    background-color: #9793e4;
    border-color: transparent;
    border-radius: 15px;
    height: 1.3rem;
    padding-left: .3rem;
    padding-right: .3rem ;
}
.position{
    position: absolute;
    top:0;
    right:0;
    font-size: 30px;
}
.violet{
font-size: 40px;
color: #9793e4;
}

